// 颜色定义规范
$color-theme: #F4F4F4;
$color-sub-theme: #ffc937;
$color-sub-theme-d: #ff892e;

$color-text: #222222;
$color-red-text: #FF5149;
$color-text-d: #333;
$color-text-dd: #666;
$color-text-ddd: #000;
$color-text-l: #999;
$color-text-ll: #aaa;
$color-text-lll: #f4f4f4;

$background: #fff;
$background-l: #f0f0f0;
$background-ll: #f4f4f4;
$background-d: #ccc;
$background-dd: #eee;

// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;

$font-size-medium: 14px;
$font-size-medium-x: 15px;
$font-size-medium-xx: 16px;
$font-size-medium-xxx: 17px;

$font-size-large: 18px;
$font-size-large-x: 20px;
$font-size-large-xx: 22px;

// 字体定义粗细
$font-weight-normal: 400;
$font-weight-normal-x: 500;
$font-weight-heavy: 600;

// 定义导航栏高度
$top-bar-height: 45px;